body{
    background-image: url('images/AdobeStock_409378433.jpeg');
    background-repeat: repeat;
    background-size: 100vw;

    }

  #headline {
    position: relative;
    text-align: center;
    margin-top: 50vh;
    }

    #headline.isLoaded{
        transition: all 2s;
        transition-delay: 0s;
        margin-top: 20px;
    }

  #appArea{
      margin-top: 100px;
      text-align: center;
      position: relative;
      opacity: 0;
      margin-left: 350px;
      margin-right: 350px;
    }

    #appArea.isLoaded{
        transition: all 3s;
        transition-delay: 1s;
        opacity: 1;
      
    }

    #appArea2{
      margin-top: 550px;
      margin-bottom: 1000px;
      text-align: center;
      position: relative;
      opacity: 0;
      margin-left: 350px;
      margin-right: 350px;
    }

    #appArea2.isLoaded2{
        transition: all 3s;
        transition-delay: 1s;
        opacity: 1;
      
    }

    #appBox{
      float: left;
      width: 31%;
      height: 550px;
      margin-left: 1%;
      margin-right: 1%;
      padding: 20px;
      background: #fff;
      box-sizing: border-box;
      border-radius: 5px;
      
    }

    #innerBox{
      height: 85%;
      margin: 10% 10%;
      border: solid 1px;
    }

    @media only screen and (max-width: 1366px) {
      #appArea{
        margin-left: 150px;
        margin-right: 150px;
      
      }

      #appArea2{
        margin-left: 150px;
        margin-right: 150px;
      
      }

      #appBox{
        height: 400px;
     
      }
    
    }

   
    
  