body{
    background-image: url('images/AdobeStock_409378433.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw;

    }

  #headline {
    position: relative;
    text-align: center;
    margin-top: 50vh;
    }

    #headline.is-loaded{
        transition: all 2s;
        transition-delay: 3s;
        margin-top: 20px;
    }

  #app{
      margin-top: 200px;
      text-align: center;
      position: relative;
      opacity: 0;
      
    }

    #app.is-loaded{
        transition: all 3s;
        transition-delay: 6s;
        opacity: 1;
    }

   
    
  